* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
body{
    width: 100%;

}
.container {
    width: 100%;
    height: 100%;
    max-width: 8000px;
    max-height:8000px;
    margin: 0;
    padding: 0;
    background: #AAAAAA;
    position: fixed;
}
.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}